<div id="bloc_decision" class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="page-header">
        <h1>Ouaf Ouaf ! <small>ie bienvenue à toi !</small></h1>
      </div>
      <p>Milor est un super chien qui va t'aider à trouver ta cadeau. Pour ce faire, laisse toi guider par le questionnaire ci-dessous et très vite, Milor te dira quels sont les cadeaux les plus susceptibles
      de faire plaisir à ton proche ! A tres vite ! </p>
      <div class="progress">
        <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          60%
        </div>
      </div>
    </div> <!-- jumbotron -->

    <div id="questions" class="jumbotron" style="background-color: white;">
      <div id="enonceq" class="enonceq">
        <h2>Quels sont ses désirs les plus fous ? </h2>
      </div>


      <div id="reponsesq" class="row">

        <div class="col-sm-12 col-md-4">
          <div id="thumbnaila" onclick="" class="thumbnail thumbnail-answer">
            <img id="reponseaphoto" src="" alt="Photo reponse a">
            <div class="caption">
              <div class="panel-heading heading-thumbnail">
                <h3 id="reponseatitle" class="panel-title">Reponse A</h3></div>
              <p id="reponsea" name="reponsea" class="answer-p" data="">Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem</p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div id="thumbnailb" onclick="" class="thumbnail thumbnail-answer">
            <img id="reponsebphoto" src="" alt="Photo reponse b">
            <div class="caption">
              <div class="panel-heading heading-thumbnail">
                <h3 id="reponseatitle" class="panel-title">Reponse B</h3></div>
              <p id="reponseb" name="reponsea" class="answer-p" data="">Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem</p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div id="thumbnailc" onclick="" class="thumbnail thumbnail-answer">
            <img id="reponsecphoto" src="" alt="Photo reponse c">
            <div class="caption">
              <div class="panel-heading heading-thumbnail">
                <h3 id="reponseatitle" class="panel-title">Reponse C</h3></div>
              <p id="reponsec" name="reponsea" class="answer-p" data="">Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem</p>
            </div>
          </div>
        </div>


      </div> <!-- reponseq -->

    </div> <!-- jumbotron white -->
  </div> <!-- col-md-12 -->
</div> <!-- bloc decision -->


<!--

[{"enonce":"Etes-vous un homme ou une femme ? ","reponsea":"Je suis un homme.","reponseb":"Je suis une femme.","reponsec":"Je ne souhaite pas prendre cette r\u00e9ponse en compte.","typetext":"1","impactadim":"1","impactascore":"2","impactbdim":"1","impactbscore":"0","impactcdim":"1","impactcscore":"1","id":"1"},
{"enonce":"Dans quel contexte r\u00e9alises-tu un cadeau ? ","reponsea":"Il s'agit d'un anniversaire","reponseb":"C'est pour no\u00ebl","reponsec":"Il s'agit d'un d\u00e9part \u00e0 la retraite","typetext":"1","impactadim":"2","impactascore":"2","impactbdim":"2","impactbscore":"0","impactcdim":"2","impactcscore":"1","id":"2"},
{"enonce":"Quel est l'\u00e2ge du destinataire du cadeau ? ","reponsea":"Il\/Elle a entre 15 et 25 ans.","reponseb":"Il\/Elle a entre 26 et 50 ans.","reponsec":"Il\/Elle a entre 51 et 100 ans.","typetext":"1","impactadim":"3","impactascore":"2","impactbdim":"3","impactbscore":"0","impactcdim":"3","impactcscore":"1","id":"3"},
{"enonce":"Le destinataire est plus int\u00e9ress\u00e9 par : ","reponsea":"ressources\/question4\/reponsea.jpg","reponseb":"ressources\/question4\/reponseb.jpg","reponsec":"ressources\/question4\/reponsec.jpg","typetext":"0","impactadim":"4","impactascore":"2","impactbdim":"4","impactbscore":"1","impactcdim":"4","impactcscore":"0","id":"4"},
{"enonce":"Il\/Elle se d\u00e9place jamais sans : ","reponsea":"Son accessoire f\u00e9tiche","reponseb":"Son portable dernier cri","reponsec":"Son antistress personnalis\u00e9","typetext":"1","impactadim":"5","impactascore":"2","impactbdim":"5","impactbscore":"0","impactcdim":"5","impactcscore":"1","id":"5"},
{"enonce":"Quel est son hoppy pr\u00e9f\u00e9r\u00e9 ? ","reponsea":"Le shopping. Faire chauffer sa carte lui donne des \u00e9motions intenses.","reponseb":"Les soir\u00e9es entre ami(e)s. Pour lui\/elle il n'y a que \u00e7a de vrai !","reponsec":"Le cin\u00e9ma. Il\/Elle conna\u00eet les derni\u00e8res sorties sur le bout des doigts.","typetext":"1","impactadim":"6","impactascore":"2","impactbdim":"6","impactbscore":"1","impactcdim":"6","impactcscore":"0","id":"6"},
{"enonce":"Quelle est la derni\u00e8re chose qu'il\/elle a lu? ","reponsea":"Le dernier polard sorti en \u00e9dition de poche.","reponseb":"Le journal du m\u00e9tro de ce matin.","reponsec":"Le catalogue de chez IKEA","typetext":"1","impactadim":"7","impactascore":"2","impactbdim":"7","impactbscore":"1","impactcdim":"7","impactcscore":"0","id":"7"},
{"enonce":"Dans quelle ville pr\u00e9f\u00e9rais t'il\/elle habiter ? ","reponsea":"ressources\/question8\/reponsea.jpg","reponseb":"ressources\/question8\/reponseb.jpg","reponsec":"ressources\/question8\/reponsec.jpg","typetext":"0","impactadim":"8","impactascore":"2","impactbdim":"8","impactbscore":"1","impactcdim":"8","impactcscore":"0","id":"8"},
{"enonce":"Quel adjectif permettrait de le\/la qualifier ?","reponsea":"Branch\u00e9","reponseb":"Classique","reponsec":"Exotique","typetext":"1","impactadim":"9","impactascore":"2","impactbdim":"9","impactbscore":"1","impactcdim":"9","impactcscore":"0","id":"9"},
{"enonce":"Quelle activit\u00e9 lui correspond le mieux ?","reponsea":"ressources\/question10\/reponsea.jpg","reponseb":"ressources\/question10\/reponseb.jpg","reponsec":"ressources\/question10\/reponsec.jpg","typetext":"0","impactadim":"10","impactascore":"2","impactbdim":"10","impactbscore":"1","impactcdim":"10","impactcscore":"0","id":"10"}]
-->
<!-- $.ajax('/libs/recupquestion.php', {
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json',
        success: function(data, status, xhttp) {
            recupreussie(data);},
        error: function(request,errorType,errorMessage) {
            erreurderecup(request,errorType,errorMessage);},
        timeout:3000
    })

    var erreurderecup = function(request,errorType,errorMessage){
        return alert('Il y a eu une erreur dans la tentative de recupération des propositions. L\'erreur s\'accompagne du message suivant: ' + errorMessage);
    };

    var recupreussie = function(reponse){
        console.log(reponse_serveur);
        reponse2 = reponse;
        $('#questions').trigger('go');

    }; -->

<script>

var reponse_serveur = [{"enonce":"Etes-vous un homme ou une femme ? ","reponsea":"Je suis un homme.","reponseb":"Je suis une femme.","reponsec":"Je ne souhaite pas prendre cette réponse en compte.","typetext":"1","impactadim":"1","impactascore":"2","impactbdim":"1","impactbscore":"0","impactcdim":"1","impactcscore":"1","id":"1"},
    {"enonce":"Dans quel contexte réalises-tu un cadeau ? ","reponsea":"Il s'agit d'un anniversaire","reponseb":"C'est pour noël","reponsec":"Il s'agit d'un déart à la retraite","typetext":"1","impactadim":"2","impactascore":"2","impactbdim":"2","impactbscore":"0","impactcdim":"2","impactcscore":"1","id":"2"},
    {"enonce":"Quel est l'\âge du destinataire du cadeau ? ","reponsea":"Il\/Elle a entre 15 et 25 ans.","reponseb":"Il\/Elle a entre 26 et 50 ans.","reponsec":"Il\/Elle a entre 51 et 100 ans.","typetext":"1","impactadim":"3","impactascore":"2","impactbdim":"3","impactbscore":"0","impactcdim":"3","impactcscore":"1","id":"3"},
    {"enonce":"Le destinataire est plus intéressé par : ","reponsea":"ressources\/question4\/reponsea.jpg","reponseb":"ressources\/question4\/reponseb.jpg","reponsec":"ressources\/question4\/reponsec.jpg","typetext":"0","impactadim":"4","impactascore":"2","impactbdim":"4","impactbscore":"1","impactcdim":"4","impactcscore":"0","id":"4"},
    {"enonce":"Il\/Elle se déplace jamais sans : ","reponsea":"Son accessoire fétiche","reponseb":"Son portable dernier cri","reponsec":"Son antistress personnalisé","typetext":"1","impactadim":"5","impactascore":"2","impactbdim":"5","impactbscore":"0","impactcdim":"5","impactcscore":"1","id":"5"},
    {"enonce":"Quel est son hoppy préféré ? ","reponsea":"Le shopping. Faire chauffer sa carte lui donne des émotions intenses.","reponseb":"Les soirées entre ami(e)s. Pour lui\/elle il n'y a que ça de vrai !","reponsec":"Le cinéma. Il\/Elle connait les dernières sorties sur le bout des doigts.","typetext":"1","impactadim":"6","impactascore":"2","impactbdim":"6","impactbscore":"1","impactcdim":"6","impactcscore":"0","id":"6"},
    {"enonce":"Quelle est la dernière chose qu'il\/elle a lu? ","reponsea":"Le dernier polard sorti en édition de poche.","reponseb":"Le journal du métro de ce matin.","reponsec":"Le catalogue de chez IKEA","typetext":"1","impactadim":"7","impactascore":"2","impactbdim":"7","impactbscore":"1","impactcdim":"7","impactcscore":"0","id":"7"},
    {"enonce":"Dans quelle ville préférais t'il\/elle habiter ? ","reponsea":"ressources\/question8\/reponsea.jpg","reponseb":"ressources\/question8\/reponseb.jpg","reponsec":"ressources\/question8\/reponsec.jpg","typetext":"0","impactadim":"8","impactascore":"2","impactbdim":"8","impactbscore":"1","impactcdim":"8","impactcscore":"0","id":"8"},
    {"enonce":"Quel adjectif permettrait de le\/la qualifier ?","reponsea":"Branché","reponseb":"Classique","reponsec":"Exotique","typetext":"1","impactadim":"9","impactascore":"2","impactbdim":"9","impactbscore":"1","impactcdim":"9","impactcscore":"0","id":"9"},
    {"enonce":"Quelle activité lui correspond le mieux ?","reponsea":"ressources\/question10\/reponsea.jpg","reponseb":"ressources\/question10\/reponseb.jpg","reponsec":"ressources\/question10\/reponsec.jpg","typetext":"0","impactadim":"10","impactascore":"2","impactbdim":"10","impactbscore":"1","impactcdim":"10","impactcscore":"0","id":"10"}];
var i=0;
var profil = {dimension1:100, dimension2:100,dimension3:100,dimension4:100,dimension5:100,
    dimension6:100, dimension7:100,dimension8:100,dimension9:100,dimension10:100};

var traiterreponse = function(dim,score){
    profil['dimension' + dim] *= score;
    i++;
    $('#questions').trigger('go');
};


var cacherphotoreponse = function(){
    $('#reponseaphoto').hide();
    $('#reponsebphoto').hide();
    $('#reponsecphoto').hide();
};

var montrerphotoreponse = function(){
    $('#reponseaphoto').show();
    $('#reponsebphoto').show();
    $('#reponsecphoto').show();
};

var cachertextreponse = function(){
    $('#reponsea').hide();
    $('#reponseb').hide();
    $('#reponsec').hide();
};

var montrertextreponse = function(){
    $('#reponsea').show();
    $('#reponseb').show();
    $('#reponsec').show();
};

$(document).ready(function(){



    $('#questions').on('go', function (){
        if(i < reponse_serveur.length){

            if (reponse_serveur[i].typetext == 1){

                cacherphotoreponse();
                montrertextreponse();

                var reponseahtml = '<p id="reponsea" name="reponsea" class="answer-p" data="">' + reponse_serveur[i].reponsea + '<p>';
                var reponsebhtml = '<p id="reponseb" name="reponseb" class="answer-p" data="">' + reponse_serveur[i].reponseb + '<p>';
                var reponsechtml = '<p id="reponsec" name="reponseb" class="answer-p" data="">' + reponse_serveur[i].reponsec + '<p>';

                $('#enonceq').html('<h2>' + reponse_serveur[i].enonce + '</h2>');
                $('#progress-bar').attr('aria-valuenow',i/10*100);
                $('#progress-bar').attr('style','width: '+ i/10*100 + '%;');
                $('#progress-bar').text(i/10*100 + '%');

                $('#thumbnaila').attr('onclick',"traiterreponse(" + reponse_serveur[i].impactadim + ", " +reponse_serveur[i].impactascore +")");
                $('#reponsea').html(reponseahtml);

                $('#thumbnailb').attr('onclick',"traiterreponse(" + reponse_serveur[i].impactbdim + ", " +reponse_serveur[i].impactbscore +")");
                $('#reponseb').html(reponsebhtml);

                $('#thumbnailc').attr('onclick',"traiterreponse(" + reponse_serveur[i].impactcdim + ", " +reponse_serveur[i].impactcscore +")");
                $('#reponsec').html(reponsechtml);
            }

            else
                {

                montrerphotoreponse();
                cachertextreponse();

                $('#enonceq').html('<h2>' + reponse_serveur[i].enonce + '</h2>');
                $('#progress-bar').attr('aria-valuenow',i/10*100);
                $('#progress-bar').attr('style','width: '+ i/10*100 + '%;');
                $('#progress-bar').text(i/10*100 + '%');

                $('#thumbnaila').attr('onclick',"traiterreponse(" + reponse_serveur[i].impactadim + ", " +reponse_serveur[i].impactascore +")");
                $('#reponseaphoto').attr('src',reponse_serveur[i].reponsea);

                $('#thumbnailb').attr('onclick',"traiterreponse(" + reponse_serveur[i].impactbdim + ", " +reponse_serveur[i].impactbscore +")");
                $('#reponsebphoto').attr('src',reponse_serveur[i].reponseb);

                $('#thumbnailc').attr('onclick',"traiterreponse(" + reponse_serveur[i].impactcdim + ", " +reponse_serveur[i].impactcscore +")");
                $('#reponsecphoto').attr('src',reponse_serveur[i].reponsec);
            }

        }
        else {
            questionnairefin();
        }
    });

    var questionnairefin = function(){
        $('#enonceq').html('<h2>Questionnaire fini. Milor a selectionne pour vous les cadeaux suivants:</h2>');
        $('#progress-bar').attr('aria-valuenow',100);
        $('#progress-bar').attr('style','width: 100%;');
        $('#progress-bar').text('100%');

        $('#reponsea').html('<p id="reponsea" name="reponsea" class="answer-p" data="">Yahoo </p>');
        $('#reponseb').html('<p id="reponseb" name="reponseb" class="answer-p" data="">Yahoo2 </p>');
        $('#reponsec').html('<p id="reponsec" name="reponseb" class="answer-p" data="">Yahoo3</p>');
    };



});
</script>