<div id="bloc_decision" class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="page-header">
        <h1>Merci à toi !</h1>
        <h2>N'hésites pas à noter plus de cadeaux ! </h2>
        <a href="/reverse" alt="Lien vers /reverse">Revenir au questionnaire de notation</a>
      </div>
      <p></p>
    </div> <!-- jumbotron -->



    <!-- <div id="questions" class="jumbotron" style="background-color: white;">
      <%# image_tag('ressources/merci.jpeg') %>

    </div> <!-- jumbotron white -->
  </div> <!-- col-md-12 -->
</div> <!-- bloc decision -->