<footer id="footer" data-hook>
  <div class="container">
  <div id="footer-left" class="col-md-6" data-hook>
      <ul class="footer-link list-inline">
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/cgu">CGU | CGV </a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
  </div>
  <div id="footer-right" class="col-md-6" data-hook>
    <ul class="social list-inline">
      <li><a href="#" alt="Facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#" alt="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#" alt="Instagram"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>
  </div>
</footer>