 <div class="white-bloc row col-md-12">
    <div class="col-md-4">
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#ccm" aria-controls="CCM" role="tab" data-toggle="tab" >Comment ça marche ?</a></li>
        <li role="presentation"><a href="#paiement" aria-controls="paiement" role="tab" data-toggle="tab">Combien ça coute ?</a></li>
        <li role="presentation"><a href="#security" aria-controls="security" role="tab" data-toggle="tab">Sécurité du paiement</a></li>
        <li role="presentation"><a href="#problem" aria-controls="problem" role="tab" data-toggle="tab">Service après-vente</a></li>
      </ul>
    </div>

    <div class="col-md-8">
      <div class="tab-content-none tab-content">
        <div role="tabpanel" class="tab-pane active" id="ccm">
            <ol class="ccm-step-list">
              <li class="ccm-step-text">Je discute un petit coup avec Milor, je réponds à ces questions. Cela me prend environ 2 minutes.</li>
              <li class="ccm-step-text">Milor me propose 3 cadeaux qui selon lui, et selon les autres internautes avant moi, sont les 3 cadeaux idéaux pour mon proche.</li>

              <li class="ccm-step-text">Je me rends sur la fiche produit, je place le produit dans mon panier et complète le processus d'achat.</li>
              <li class="ccm-step-text">Après avoir offert mon cadeau, je reviens voir Milor pour lui indiquer s'il ou non il a fait un bon choix. Il faut bien l'éduquer ce chien !</li>
            </ol>
        </div>


        <div role="tabpanel" class="tab-pane" id="paiement">
          <h3>Côté tarifs, vous êtes comment ?</h3>
          <p>	Les tarifs sont simples: en dehors de l'achat, tout est gratuit !</p>
          <p> C'est à dire que vous ne payez pas pour discuter avec Milor et le laisser vous proposez des cadeaux !
          Libre à vous de lui faire confiance ou non, de continuer à réfléchir, d'acheter votre cadeau de suite ou bien
          de vous laisser un temps de réflexion pour confirmer votre choix. Milor sera toujours là quand vous reviendrez.
          Il ne bouge pas de la maison. Milor c'est le chien qui vous manquait. Simple, chercheur et gratuit ! </p>

        </div>
        <div role="tabpanel" class="tab-pane" id="security">
          <h3>Milor est aussi un chien de garde ! Il ne rigole pas avec la sécurité ! </h3>
          <p>Milor a réalisé son entrainement auprès de Bulldog endurci et de berges allemands. Il s'est notamment fait deux copains
          Koru & Max. Ensemble, cette bande de 3 chiots ont fait les 400 coups et ont notamment dû affronter de terribles ennemis. Ils les ont tous vaincu
          soit par leur ingéniosité, soit par la force brute. Tout ça pour vous dire, que Milor, il est pas né de la dernière pluie. Ce n'est pas le premier venu qu'il
          va lui faire peur alors vous pouvez avancer. Milor vous protège. Avec lui la sécurité, ça déconne pas. </p>

        </div>

        <div role="tabpanel" class="tab-pane" id="problem">
          <h3>Un soucis sur la vente ? Un problème lors de la discussion avec Milor ?</h3>
          <p>N'hésitez plus ! Les maîtres de Milor sont disponibles, à votre écoute à un mail prêt ! </p>
          <p>Ecrivez un mail à l'équipe de Milor via le formulaire de contact et nous viendrons à votre aide dans les plus brefs délais.
          Nous sommes également ouvert à toute suggestion pour parfaire l'éductation de notre très cher Milor ! </p>
        </div>


        <div style="margin-top:40px;text-align:center;"><a href="#" class="btn btn-primary"><span>Je trouve un cadeau</span></a></div>
      </div>
    </div>
  </div>
</div>

