<div class="wrapper white-bloc col-md-12">
    <h1>Notre Projet</h1>
        <div id="projet">
          <div class="well italic well-red">
            <div class="boost">
              <span class="ppic"><%= image_tag('logo/logo_noir_grand_fond_blanc.png') %></span>
                <p>Milor est un service édité par la société Wabarter depuis l'année 2016. Il a pour objectif
                d'aider les personnes en recherche de cadeau pour un proche en leur suggérant un cadeau et en les
                accompagnant dans leur achat. A ce jour, Milor a aidé plus de 9764 personnes dans leur recherche.
                Plus de 92% des utilisateurs se déclarent satisfaits de l'utilisation du service, alors pourquoi pas vous ?</p>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>

    <h1>Notre Equipe</h1>
        <div id="members">
          <div class="well italic well-red">
            <div class="boost">
              <span class="ppic"><%= image_tag('ressources/team/milor.png') %></span>
                <p><strong>Milor - </strong><i>Président</i></p>
                <p>Milor est notre chien chercheur. Milor est un Saint-Hubert, autrement dit, un fin limier. Avec lui, les résultats sont au rendez-vous.
              Vous recherchez quelque chose ? Ne cherchez plus, Milor va vous le trouver ! En classe de dressage, avec ses potes Koru & Max,
                Milor est un chien experimenté dans le tracage, désellage, pistage de cadeaux tout en sécurité ! </p>
              <div style="clear:left"></div>
            </div>
          </div>
              <div class="well italic well-red">
                <div class="boost">
                  <span class="ppic"><%= image_tag('ressources/team/maxime.png') %></span>
                    <p><strong>Maxime WABARTHA - </strong><i>CEO</i></p>
                    <p>Maxime est élève ingénieur à l'Ecole Centrale de lille. Spécialisé dans les prises de décisions
                    et l'analyse de données, il a su mettre au profit ses connaissances dans ce domaine pour vous créer
                    Milor, le service qui vous manquait pour réaliser des cadeaux réussis ! </p>
                  <div style="clear:left"></div>
                </div>
              </div>
          <div class="well italic well-red" id="content">
            <div class="boost">
              <span class="ppic"><%= image_tag('ressources/team/guillaume.png') %></span>
                <p><strong>Guillaume TERRAL - </strong><i>CTO</i></p>
                <p>Guillaume est également élève ingénieur à l'Ecole Centrale de Lille. Spécialisé dans les problématiques
                liés à l'E-Business, il a mis ses compétences au service de Milor afin de vous permettre d'évoluer sur un site
                e-commerce simple, facile et surtout sécurisé.</p>
              <div style="clear:left"></div>
            </div>
          </div>
      </div>
</div>

